@model Movibio.DataLayer.Dtos.UserDtos.UserLoginDto
@{ 
    ViewBag.Title = "Giriş Yap";
    Layout = null; 
}
<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MOVIBIO | LOGIN</title>
    <link rel="stylesheet" href="~/assets/css/login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.12/typed.min.js"></script>
</head>
<body>

    <div class="container">
        <div class="login-content">
            <h2 class="main-title">MOVIBIO</h2>
            <form asp-controller="User" asp-action="Login" method="post">
                <div class="user-icon"><i class="fas fa-user"></i></div>
                <div class="input-div one">
                    <div class="i">
                        <i class="fas fa-user"></i>
                    </div>
                    <div class="div">
                        <input type="text" class="input" placeholder="Kullanıcı Adı" asp-for="UserName">
                    </div>
                </div>
                <div class="input-div pass">
                    <div class="i">
                        <i class="fas fa-lock"></i>
                    </div>
                    <div class="div">
                        <input type="password" class="input" placeholder="Parola" asp-for="Password">
                    </div>
                </div>
                <input type="submit" class="btn" value="Giriş Yap">
                <a asp-area="Admin" asp-controller="User" asp-action="Insert">Kayıt Ol</a>
            </form>
        </div>
    </div>
</body>
</html>
