@model Movibio.MVC.Models.UserWithRolesViewModel
<div class="sidebar-menu">
    <ul class="menu">
        <li class="sidebar-title">Menu</li>

        <li class="sidebar-item active ">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class='sidebar-link'>
                @*<i class="bi bi-grid-fill"></i>*@
                <span>Dashboard</span>
            </a>
        </li>

        @if (Model.Roles.Any(r => r.Equals("Admin")))
        {
            <li class="sidebar-item  has-sub">
                <a href="#" class='sidebar-link'>
                    <i class="bi bi-stack"></i>
                    <span>Genel Ayarları</span>
                </a>

                <ul class="submenu ">
                    <li class="submenu-item ">
                        <a href="#">Diller</a>
                    </li>
                    <li class="submenu-item ">
                        <a href="#">Türler</a>
                    </li>

                </ul>
            </li>
            <li class="sidebar-item  has-sub">
                <a href="#" class='sidebar-link'>
                    @*<i class="bi bi-stack"></i>*@
                    <span>Kullanıcı Ayarları</span>
                </a>
                <ul class="submenu ">
                    <li class="submenu-item ">
                        <a href="#">Kullanıcılar</a>
                    </li>
                </ul>
            </li>
        }
        <li class="sidebar-item  has-sub">
            <a href="#" class='sidebar-link'>
                @*<i class="bi bi-stack"></i>*@
                <span>İçerik Ayarları</span>
            </a>

            <ul class="submenu ">
                <li class="submenu-item ">
                    <a asp-area="Admin" asp-controller="Movie" asp-action="Index">Filmler</a>
                </li>
                <li class="submenu-item ">
                    <a asp-area="Admin" asp-controller="Scenarist" asp-action="Index">Senaristler</a>
                </li>
                <li class="submenu-item ">
                    <a asp-area="Admin" asp-controller="Director" asp-action="Index">Yönetmenler</a>
                </li>
                <li class="submenu-item ">
                    <a asp-area="Admin" asp-controller="Cast" asp-action="Index">Oyuncular</a>
                </li>
            </ul>
        </li>

    </ul>
</div>