@model Movibio.DataLayer.Concrete.User
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="contact" id="contact">
    <div class="max-width">
        <h2 class="title">Yorumlar</h2>
        <div class="contact-content">
            <div class="column left">
                <div class="comment-card">

                    <div class="text">Yorum Sahibi</div>
                    <div class="score">Puan</div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, eius accusantium accusamus suscipit sed doloribus magni unde vel repellat illo.</p>
                </div>
            </div>
            <div class="column right">
                <div class="text">Yorum Gönder</div>
                <form action="#">
                    <div class="field textarea">
                        <textarea id="" cols="30" rows="10" placeholder="Yorum(Max 300 Karakter)" required maxlength="300"></textarea>
                    </div>
                    <div class="button">
                        <button type="submit">Gönder</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
</section>

